.pageNumber.selectedPage {
    font-weight: bold;
    border-color: #282c34;


}

.pageNumber{
    padding: 5px;
    border: 3px solid royalblue;
    border-radius: 15px;

}

.paginator{
    margin: 10px;
    padding-left: 50px;
}
.buttonPaginator{
    margin: 5px;
    color: whitesmoke;
    background: royalblue;
    border-radius: 5px;
}
