

.header{
    background-color: royalblue;
    grid-area: h;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header img{
    padding-top: 5px;
    padding-left: 20px;
    width:80px;
}
.loginBlock {
    float: right;
    padding-right: 20px;
}
.loginBlock a {
    color: #dae2ea;
}