



.content img {

    opacity: .8;
    width: 25%;
    height: 25%;
}
.descriptionBlock{
    padding: 20px;
    padding-top: 50px;
}
.contact{
    padding-left: 10px;
}
.file{
    width: 8%;
    top: 120px;
    left: 368px;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.editAva{

    bottom: 282px;
    right: 0px;
    opacity: 0.9;
    position: relative;

}