



.content img {

    opacity: .8;
    width: 25%;
    height: 25%;
}
.descriptionBlock{
    padding: 20px;
    padding-top: 50px;
}
.contact{
    padding-left: 10px;
}
.file{
    width: 13.5%;
    top: -135px;
    left: -243px;
    opacity: 0;
    position: relative;
    z-index: 1;
}
.editAva{
    height: 25px;
    bottom: 273px;
    right: 0px;
    opacity: 0.9;
    position: relative;


}
.btnAva{

background-color: #007bff;
    color: white;
    border-radius: 5px;
    height: 28px;
    width: 130px;
    border-color: #007bff;
}